﻿@import url(https://fonts.googleapis.com/css?family=Overlock:400,700italic);

h1 {
    font-family: 'Overlock', cursive;
    text-align: center;
}

h2 {
    text-align: center;
}


#mainContent {
    background-color: #fffadf;
    padding: 20px 0;
}

.carousel-caption{
    color:#333;       
}
.carousel-indicators li{
    border: 1px solid #333;
}
.carousel-indicators .active{
    background-color: #333;
}

.required {
    font-weight: bold;
}

.footer {
    margin-top:40px;  
    padding-top:20px;  
    border-top: 1px solid #ddd;
    width: 100%;
}

.footer p {
    text-align: center;
}


/*xxs*/
@media only screen and (min-width : 320px) {
    .carousel h2 {
        font-size: 1em;
    }

    .carousel-indicators {
        display: none;
    }

    .carousel-caption {
        padding-bottom: 0;
    }
}

/*xs*/
@media only screen and (min-width : 480px) {
    .carousel h2 {
        font-size: 1.3em;
    }

    .carousel-caption {
        padding-bottom: 10px;
    }

    .carousel-indicators {
        display: none;
    }
}

/*small*/
@media only screen and (min-width : 768px) {
    .carousel h2 {
        font-size: 1.8em;
    }

    .carousel-caption {
        padding-bottom: 20px;
    }

    .carousel-indicators {
        display: inline-block;
        bottom: 5px;
    }
}

/*medium*/
@media only screen and (min-width : 992px) {
    .carousel h2 {
        font-size: 2em;
    }
}

/*large*/
@media only screen and (min-width : 1200px) {
    .carousel h2 {
        font-size: 2.5em;
    }
}
