﻿h1{    
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align:center;
}

a{
    margin-right:8px;
}

p.footer{
    margin:0;
    padding:0;
    text-align:center;
}

