﻿@import url(https://fonts.googleapis.com/css?family=Overlock:400,700italic);

h1{    
    font-family: 'Overlock', cursive;
    text-align:center;
}

a{
    margin:5px;
    padding:5px;
    display:inline-block;
}

hr{
    margin:0;
}

p.footer{
    margin:0;
    padding:0;
    text-align:center;
}

#mainContent{
    background-color:#fffadf;
    padding: 20px 0;
}

