﻿h1{
    font-family:'Averia Libre', cursive;
    font-weight:400;
}

table{    
    text-align:center;
}

th {    
    text-align:center;
}

td{
    font-style:italic;   
}

.table-striped > tbody > tr:nth-of-type(2n+1) {
    background-color: #dce3fe;
}

li {
    font-style:italic;
}

a:link, a:visited{
    text-decoration:none;
    background-color:#fff;     
}

a:hover{
    text-decoration:underline;
    background-color:#dce3fe;
}

a:active{
    text-decoration:none;
    background-color:#fff;    
}

.averiaFont{
    font-family:'Averia Libre', cursive;
}