﻿h1{
    font-family:'Averia Libre', cursive;
    font-weight:400;
}

table{
    border-collapse:collapse;
    width:100%;
    text-align:center;
}

table, th, td{
    border: 1px solid #777;    
}

th {
    background-color:#ddd;
}

li {
    font-style:italic;
}

#mainImage{
    background-image:url(ColdplayGhostStories.png);
	width:300px;
    height:300px;
    margin: 0 auto;
}

.averiaFont{
    font-family:'Averia Libre', cursive;
}