﻿@import url(https://fonts.googleapis.com/css?family=Overlock:400,700italic);

h1 {
    font-family: 'Overlock', cursive;
    text-align: center;
}

h2 {
    text-align: center;
}

#mainContent {
    background-color: #fffadf;
    padding: 20px 0;
}

.required {
    font-weight: bold;
}

.footer {
    margin-top:40px;  
    padding-top:20px;  
    border-top: 1px solid #ddd;
    width: 100%;
}

.footer p {
    text-align: center;
}