﻿h1{
    font-family:'Averia Libre', cursive;
    font-weight:400;
}

table{
    border-collapse:collapse;
    width:100%;
    text-align:center;
}

table, th, td{
    border: 1px solid #777;    
}

th {
    background-color:#ddd;
}

td{
    font-style:italic;
    background-color:#dce3fe;
}

li {
    font-style:italic;
}

a:link, a:visited{
    text-decoration:none;
    background-color:#fff;     
}

a:hover{
    text-decoration:underline;
    background-color:#dce3fe;
}

a:active{
    text-decoration:none;
    background-color:#fff;    
}



#mainImage{
    background-image:url(ColdplayGhostStories.png);
    width:300px;
    height:300px;
    margin: 0 auto;

}

.averiaFont{
    font-family:'Averia Libre', cursive;
}